.dropdown {
    cursor: pointer;
    margin-left: 120%;
}

.dropdown-item {
    cursor: pointer;
}

.container {
    padding-left: 50px;
  
}

img {
    max-height: 50px;
    border: 2px solid white;
    margin-left: -40%;
}

form {
    margin-left: 70%;
    display: inline;
        
}
